meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Producción de textos escritos
meta(meta name="description" content="La producción de textos escritos se ocupa de la escritura y de escribir como dos asuntos íntimamente relacionados; la escritura se aborda como una habilidad comunicativa esencial en la cotidianidad y en el ejercicio laboral; en este componente formativo se presentan las funciones que desempeña como un acto comunicativo; haciendo énfasis en el párrafo, pues es la base de un texto escrito y la manera como éste se organiza. Se muestran varias formas de composición de un texto, partiendo de la posición de la idea principal, la estructura y otras clases de párrafos. Dando a conocer los pasos a seguir durante la escritura, señalando la importancia de la puntuación, de la relación entre las oraciones; abordando también la clasificación de los textos, en géneros textuales y tipos textuales. La producción de textos escritos se centra en la redacción de informes y ensayos.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")