h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark.mb-0
            li 
                span Usar la tipología textual en la construcción de un texto de acuerdo con requerimientos técnicos y el entorno.