.container#introduccion
    
    .jumbotron.bg-white.shadow.mt-6
        .row.justify-content-center
            .col-10
                .header-ecored.mt-0
                    h1 Introducción
                .row.justify-content-center.mt-5.mb-6
                    .col-10
                        .embed-responsive.embed-responsive-16by9
                            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/Ko__W4P_zZ0', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                .row
                    .col-12
                        img(src="assets/images/pages/ilustraciones/img1.png", style="max-width: 80%; margin-left: 50px; margin-bottom: -55px; z-index: 2; position: relative;").img-fluid
                    .col-12.bg-color1
                        p.mb-0 El componente formativo de producción de textos escritos tiene como propósito invitar al aprendiz a explorar sus capacidades escriturales y, como resultado del aprendizaje, se espera que haga uso de la tipología textual en la construcción de un texto de acuerdo con requerimientos técnicos y con el entorno donde se desempeñe.
                        .row.mt-5
                            .col-12.text-right
                                img(src="assets/images/pages/ilustraciones/img2.png", style="max-width: 100%; position: relative; right: 20px; bottom: -10px;").img-fluid
                .row.mt-5
                    .col-12.p-0
                        p.txt-deco1 El contendido se desarrolla a partir de dos asuntos: el primero tiene que ver con la escritura propiamente, allí se presta especial atención al párrafo, pues cuando se escribe un texto, el que sea, se hace a través de párrafos. Se muestra la disposición de la idea directriz, la estructura del párrafo, algunas clases de párrafos y se dan algunos ejemplos. Un apartado se dedica a los pasos que se deben tener en cuenta en el proceso de redacción y se destaca el uso de los signos de puntuación y la importancia de relacionar las ideas a través de los elementos de enlace.
                        p.txt-deco1 La segunda parte se dedica a la clasificación de los textos según el género y el tipo, dos formas de organizarlos que ayudan en la producción escrita. Se presentan las tres dimensiones de los textos y su relación con la microestructura, la macroestructura y la superestructura; esta parte culmina con algunas pautas para la producción de informes escritos y ensayos, dos documentos importantes en la formación académica.