.container#texto

    .jumbotron.bg-white.shadow.mt-6
        .row.justify-content-center
            .col-10.px-0
                .header-ecored.mt-0
                    h1 1. El texto escrito
                .row.mb-7
                    .col-12.bg-color2.mb-4
                        p.txt-deco1 Un texto escrito es el que se produce con letras o grafías de una lengua o con los símbolos que esta utilice, desarrolla una idea principal soportada en ideas secundarias relacionadas unas con otras; utiliza un vocabulario preciso, adecuado, buena sintaxis y estructura organizada. El texto escrito cumple una función social, como es el caso de las grandes obras de la humanidad que han perdurado en el tiempo, verbigracia, las piezas literarias de reconocidos escritores cuyo oficio ha sido escribir.
                        br
                        br
                        br
                        .hr
                        img(src="assets/images/pages/ilustraciones/img3.png", style="max-width: 24%; position: absolute; bottom: -80px; right: 100px;").img-fluid
                .hr2
                #11
                .header-ecored
                    h2 1.1 La escritura
                .row.mb-7.align-items-center
                    .col-6
                        p.txt-deco2 #[b Escribir (verbo)]
                        p.txt-deco1 Significa producir textos relacionados con una situación comunicativa, que a su vez demanda el conocimiento sobre el tema, la búsqueda de la información, el manejo de la organización del texto, adecuarse a los lectores, organizar las ideas y el manejo del vocabulario.
                    .col-6.text-right
                        img(src="assets/images/pages/ilustraciones/img4.png").img-fluid
                .row.mb-6.align-items-center
                    
                    .col-6.text-center
                        img(src="assets/images/pages/ilustraciones/img5.png").img-fluid
                    .col-6
                        p.txt-deco2 #[b Escritura (sustantivo)]
                        p.txt-deco1 Es una herramienta necesaria para desempeñarse de manera eficaz en distintas situaciones comunicativas de la vida diaria, profesional o laboral y fundamental en el trabajo académico. Es un sistema de representación gráfica de una lengua que hace uso de signos grabados o dibujados sobre un soporte material; es un método de comunicación humana que se realiza a través de signos visuales que constituyen un sistema.
                .row
                    .col-8
                        p.txt-deco3 #[b La escritura es un sistema de comunicación visual basado en dibujos que se llaman letras, grafías, ideogramas, los cuales representan cosas e ideas.]
                p.txt-deco1 Aprender a escribir es llegar a conocer e identificar ese conjunto de dibujos posibles para saber a qué se asocia cada uno de ellos; estas representaciones gráficas pueden relacionarse con sonidos del lenguaje, como sucede con el fonema /m/ que se representa la grafía M, con palabras o ideas completas o con signos gráficos como lo hacen algunas lenguas o idiomas, verbigracia, la escritura china o la escritura árabe.
                p.txt-deco1.mb-6 Al igual que la lectura, aprender a escribir supone un proceso largo y de mucho esfuerzo intelectual, que se inicia en la infancia durante los primeros años de escolaridad, cuando se empiezan a reconocer las grafías y a asociarlas a sonidos concretos hasta llegar a expresar las ideas usando la escritura.
                .row.mb-7
                    .col-12.bg-color3
                        p.text-deco1 #[b #[span.txt-deco3 Escribir es una habilidad comunicativa que las personas deben desarrollar para transmitir sus ideas o pensamientos, pero es, tal vez, la habilidad a la que menos atención se presta]]. A diario, las circunstancias ponen a los individuos en situaciones en las cuales ellos deben producir un escrito, por ejemplo, hacer una petición, una solicitud, un reclamo, llenar un formato con alguna información, elaborar una hoja de vida, entre otras posibilidades; o en ambientes más complejos como los de la vida escolar, en los cuales es necesario presentar informes, resúmenes, reseñas, hasta escribir un ensayo.
                        img(src="assets/images/pages/ilustraciones/img6.png", style="max-width: 24%; position: absolute; bottom: -80px; right: 100px;").img-fluid
                p.txt-deco1.mb-6 La experiencia ha enseñado que la formación de la lengua materna durante la vida escolar privilegia especialmente el desarrollo del habla y un poco menos el desarrollo de la habilidad para elaborar textos escritos; algunos afirman que escribir es difícil, y en verdad lo es, especialmente cuando se trata de organizar las ideas de forma ordenada, usando oraciones enlazadas y relacionadas de manera coherente para expresar los pensamientos.
                .row.mb-4
                    .col-8
                        p.txt-deco3 #[b Tradicionalmente en la escritura era imprescindible tener a mano un lápiz y un papel, pero ya no es una condición obligatoria, puesto que los desarrollos tecnológicos permiten la escritura directamente en el dispositivo móvil.]
                .row.align-items-center.mb-6
                    .col-6.text-center
                        img(src="assets/images/pages/ilustraciones/img7.png").img-fluid
                    .col-6
                        p.txt-deco1 Vista de esta manera, la escritura es un hábito que todos tienen y ponen en práctica en la cotidianidad; ese ejercicio de enviar o contestar mensajes puede ser un buen comienzo para empezar a escribir correctamente.
                        .hr
                .hr2
                #12
                .header-ecored
                    h2 1.2 Funciones de la escritura
                p.txt-deco1 La escritura es una herramienta necesaria para comunicar las ideas, pues permite la interacción en diferentes circunstancias. Como un sistema de comunicación cumple las funciones que se presentan a continuación:
                img(src="assets/images/pages/ilustraciones/img1.svg", style="max-width: 90%;").img-fluid.img-a
                .row.mt-6.justify-content-center
                    .col-10
                        .row.align-items-center.mb-4
                            .col-2.text-center
                                img(src="assets/images/pages/ilustraciones/img8.png", style="max-width: 90%;").img-fluid
                            .col-10
                                p.txt-deco3.mb-0 #[b Función expresiva]
                                p.txt-deco1.mb-0 También se llama emotiva, se identifica con el emisor, el escritor es el centro de atención. Se manifiesta en escritos como diálogos, cartas, autobiografías.
                        .row.align-items-center.mb-4.mt-6
                            .col-2.text-center
                                img(src="assets/images/pages/ilustraciones/img9.png", style="max-width: 90%;").img-fluid
                            .col-10
                                p.txt-deco3.mb-0 #[b Función informativo – referencial]
                                p.txt-deco1.mb-0 También llamada informativa, se centra en el referente y en el contexto; se encuentra en escritos como informes, crónicas, resúmenes, reglamentos.
                        .row.align-items-center.mb-4.mt-6
                            .col-2.text-center
                                img(src="assets/images/pages/ilustraciones/img10.png", style="max-width: 90%;").img-fluid
                            .col-10
                                p.txt-deco3.mb-0 #[b Función poética]
                                p.txt-deco1.mb-0 El acto de comunicación está centrado en el mensaje, en la forma como se transmite. Se encuentra esta función en la literatura, verbigracia, en los cuentos, novelas, fábulas, decálogos, epitafios, chistes, poesías y en las escrituras creativas.
                        .row.align-items-center.mb-6.mt-6
                            .col-2.text-center
                                img(src="assets/images/pages/ilustraciones/img11.png", style="max-width: 90%;").img-fluid
                            .col-10
                                p.txt-deco3.mb-0 #[b Función informativo – argumentativa]
                                p.txt-deco1.mb-0 Tiene como propósito defender un punto de vista para convencer o disuadir al lector. Se puede identificar en las editoriales de periódicos y revistas, comentarios, y en ensayos.
                .hr2
                #13
                .header-ecored
                    h2 1.3 El párrafo
                p.txt-deco1 Los textos escritos se organizan en párrafos, que son las partes de un texto que el lector identifica fácilmente por estar encerradas entre dos puntos y aparte. Puede contener varias oraciones que se identifican por el punto, y el punto y coma. Se considera también como la mínima unidad de redacción que desarrolla una idea.
                img(src="assets/images/pages/ilustraciones/img12.png", style="max-width: 90%;").img-fluid.img-a.mb-6
                .row.justify-content-end
                    .col-11
                        .header-ecored
                            h2 1.3.1 Concepto.
                        p.txt-deco1.mb-6 El párrafo se considera la mínima unidad de redacción que desarrolla una idea; es cada una de las divisiones de un escrito; se reconoce por estar limitado por el punto y aparte. Es una unidad completa dentro del escrito; consta por lo general de la oración principal y las oraciones que le dan soporte a la oración principal.
                        .row.justify-content-center.mb-5
                            .col-9.bg-color4
                                img(src="assets/images/pages/ilustraciones/img13.png", style="max-width: 90%; position: relative; top: -30px; left: 40px;").img-fluid
                                p.txt-deco1 #[b #[i Igual que las esponjas, antiguamente se consideraron los celentéreos como animales-plantas por su forma exterior; pero ya desde el siglo pasado se clasificaron definitivamente como animales, dadas sus características.]]
                                br
                                p.txt-deco1 #[b (Recasens de & Londoño, 1968).]
                        .row.justify-content-center.mb-6
                            .col-9.bg-color5
                                .list.align-items-star
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco1 #[b Enmarcado por dos puntos y aparte.]
                                .list.align-items-star
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco1.mb-0 #[b Idea principal]
                                        p.txt-deco1 se consideraron los celentéreos como animales-plantas por su forma exterior.
                                .list.align-items-star
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid 
                                    .list__txt
                                        p.txt-deco1.mb-0 #[b Ideas secundarias]
                                        p.txt-deco1.mb-0 Las esponjas se consideraron animales -plantas.
                                        p.txt-deco1.mb-0 En el siglo pasado los celentéreos se clasificaron como animales.
                                        p.txt-deco1 Los celentéreos se clasificaron como animales por sus características.
                                .list.align-items-star
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid 
                                    .list__txt
                                        p.txt-deco1.mb-0 #[b Conector lógico de contraste: pero.]
                                        p.txt-deco1 Signos de puntuación para separar oraciones.
                        .row
                            .col-8
                                p.txt-deco4 #[b La idea principal se encuentra en una oración que se denomina oración temática, oración guía o idea directriz.]
                        p.txt-deco1.mb-5 Esta oración puede aparecer al inicio del párrafo como un anuncio de lo que se va a tratar; puede estar en el centro del párrafo o al final, como la conclusión de lo expuesto.
                        .row.align-items-center.mb-6
                            .col-4
                                img(src="assets/images/pages/ilustraciones/img14.png", style="max-width: 90%;").img-fluid.img-a
                            .col-8
                                p.txt-deco4.mb-0.mt-4 #[b Oración directriz]
                                p.txt-deco1 La oración  principal o directriz se localiza al comienzo del párrafo. El desarrollo se hace a partir del aspecto general hacia los detalles particulares.
                                br
                                br
                                p.txt-deco4.mb-0 #[b Oración directriz]
                                p.txt-center1 La oración principal se encuentra hacia la mitad del párrafo.
                                br
                                br
                                p.txt-deco4.mb-0 #[b Oración directriz]
                                p.txt-center1 Es la oración principal y se encuentra al final del párrafo; se parte de las ideas secundarias o los detalles para finalizar con la idea principal a modo de conclusión.
                        .row.mt-6.justify-content-center
                            .col-10
                                .row
                                    .col-12.bg-color6
                                        .row
                                            .col-2
                                                img(src="assets/images/pages/ilustraciones/img15.png", style="max-width: 80px; position: absolute; left: 53px; top: -25px; z-index: 2;").img-fluid
                                            .col-10
                                                p.mb-0 Ejercicio
                                    .col-12.bg-color2
                                        p.txt-deco1 Buscar párrafos de diferentes temas que tengan la oración principal localizada al comienzo, en la mitad y al final de estos. 
                                        p.txt-deco1 #[b Nota:] #[i este ejercicio, al igual que los siguientes no son evaluativos; sin embargo, se recomienda seguir las indicaciones dadas, lo cual le permitirá desarrollar sus capacidades escriturales].
                        .header-ecored
                            h2 1.3.2 Estructura.
                        p.txt-deco1 Existen varias formas de estructurar un párrafo; este se puede desarrollar a partir de ejemplos, por contraste y por encuadramiento.
                        .row.justify-content-center.mb-6
                            .col-9.mt-5
                                .list.align-items-star
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco1 #[i #[b Por ejemplo:] cuando un párrafo se desarrolla de esta manera, la idea se presenta a partir de la ejemplificación.]
                            .col-9.bg-color7.mt-5
                                img(src="assets/images/pages/ilustraciones/img13.png", style="max-width: 90%; position: relative; top: -30px; left: 40px;").img-fluid
                                p Una casa campestre es aquella que, por ejemplo, está ubicada en un clima suave y hermoso, rodeada de jardines plenos de flores como magnolias, cayenas o rosas.
                            .col-9.mt-6
                                .list.align-items-star
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco1 #[i #[b Por contraste:] se insiste en establecer la similitud entre objetos, palabras, ideas o lo que los hace diferentes. Es posible encontrar párrafos estructurados a partir de frases separadas o por pares, es decir, pasar de una descripción a la otra.]
                            .col-9.bg-color7.mt-5
                                img(src="assets/images/pages/ilustraciones/img13.png", style="max-width: 90%; position: relative; top: -30px; left: 40px;").img-fluid
                                p #[b Los murciélagos]
                                p El murciélago es el único mamífero que vuela. A diferencia de las aves que son generalmente diurnas, los murciélagos son nocturnos y vuelan en la noche. Tienen muy buen oído, pero una visión muy pobre. No pueden ver en la oscuridad; sin embargo, pueden ver los objetos más próximos, pero no pueden ver objetos distantes. Tienen la capacidad de ver objetos en movimiento, pero no objetos estacionarios.
                        .row.mt-6.justify-content-center
                            .col-10
                                .row
                                    .col-12.bg-color6
                                        .row
                                            .col-2
                                                img(src="assets/images/pages/ilustraciones/img15.png", style="max-width: 80px; position: absolute; left: 53px; top: -25px; z-index: 2;").img-fluid
                                            .col-10
                                                p.mb-0 Ejercicio
                                    .col-12.bg-color2
                                        .list.align-items-star
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.txt-deco1 Identificar la idea principal del párrafo.
                                        .list.align-items-star
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.txt-deco1 Identificar las ideas secundarias.
                                        .list.align-items-star
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.txt-deco1 Identificar la construcción mediante contraste.
                        .row.justify-content-center.mb-6
                            .col-9.mt-6
                                .list.align-items-star
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco1 #[b Por encuadramiento:] el párrafo tiene una estructura clara y sencilla señalada desde el comienzo.
                            .col-9.bg-color7.mt-5
                                img(src="assets/images/pages/ilustraciones/img13.png", style="max-width: 90%; position: relative; top: -30px; left: 40px;").img-fluid
                                p Las plantas y los animales interactúan entre sí. Los animales dependen de las plantas para obtener su comida; de esta misma forma las plantas dependen de los animales. Todas las plantas y los animales tienen cuatro elementos: carbono, nitrógeno, hidrógeno y oxígeno. Estos elementos se combinan para formar las proteínas, las grasas y los carbohidratos tanto en los animales como en las plantas. Luego, ellos se usan en la fabricación de las células y los tejidos o como fuente de energía. El oxígeno se obtiene del aire y del agua; el agua es también fuente de hidrógeno para los seres vivos. El carbón y el nitrógeno provienen del aire, el mar y el suelo.
                        .row.mt-6.justify-content-center
                            .col-10
                                .row
                                    .col-12.bg-color6
                                        .row
                                            .col-2
                                                img(src="assets/images/pages/ilustraciones/img15.png", style="max-width: 80px; position: absolute; left: 53px; top: -25px; z-index: 2;").img-fluid
                                            .col-10
                                                p.mb-0 Ejercicio
                                    .col-12.bg-color2
                                        .list.align-items-star
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.txt-deco1 Identificar posición de la idea principal.
                                        .list.align-items-star
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.txt-deco1 Identificar ideas secundarias.
                                        .list.align-items-star
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.txt-deco1 Identificar los conectores y las relaciones que establecen.
                        .header-ecored
                            h2 1.3.3 Clases de párrafos.
                        p.txt-deco1 Una de las clasificaciones de los párrafos corresponde a la de narrativos, descriptivos y expositivo  argumentativo.
                        .row.justify-content-center.mb-6
                            .col-9.mt-6
                                .list.align-items-star
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco1 #[b Párrafo narrativo:] cuenta, relata hechos o acontecimientos en torno a un sujeto u objeto. El párrafo narrativo se usa en textos científicos y literarios, lleva un orden cronológico.
                            .col-9.bg-color7.mt-5
                                img(src="assets/images/pages/ilustraciones/img13.png", style="max-width: 90%; position: relative; top: -30px; left: 40px;").img-fluid
                                p Charlie Chaplin, quien murió en 1977 a la edad de 88 años, fue una de las más famosas estrellas en la historia del cine. Ha sido, ciertamente, el actor cómico más famoso del cine. Sus primeras películas se realizaron en la época del cine mudo; escribió y dirigió casi todas sus cintas y compuso la música de todos sus cuadros sonoros.
                        .row.mt-6.justify-content-center
                            .col-10
                                .row
                                    .col-12.bg-color6
                                        .row
                                            .col-2
                                                img(src="assets/images/pages/ilustraciones/img15.png", style="max-width: 80px; position: absolute; left: 53px; top: -25px; z-index: 2;").img-fluid
                                            .col-10
                                                p.mb-0 Ejercicio
                                    .col-12.bg-color2
                                        .list.align-items-star
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.txt-deco1 Escribir un párrafo narrativo, cuya idea principal esté localizada al comienzo.
                        .row.justify-content-center.mb-6
                            .col-9.mt-6
                                .list.align-items-star
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco1 #[b Párrafo descriptivo:] se usa para describir, o sea, para pintar con palabras. Señala las características de las personas, animales, cosas y situaciones; se utiliza también para explicar ideas y definir personajes.
                            .col-9.bg-color7.mt-5
                                img(src="assets/images/pages/ilustraciones/img13.png", style="max-width: 90%; position: relative; top: -30px; left: 40px;").img-fluid
                                p A través de la historia el hombre ha cambiado su medio ambiente físico con el propósito de mejorar su forma de vida. Con las herramientas de la tecnología ha alterado los rasgos físicos de la tierra. Ha transformado bosques y praderas en tierras cultivables, y ha hecho lagos y represas a partir de los ríos más caudalosos, para la irrigación o generación de energía eléctrica. El hombre ha modificado la superficie de la tierra, drenando pantanos y fracturando las montañas para construir carreteras y ferrocarriles.
                        .row.mt-6.justify-content-center
                            .col-10
                                .row
                                    .col-12.bg-color6
                                        .row
                                            .col-2
                                                img(src="assets/images/pages/ilustraciones/img15.png", style="max-width: 80px; position: absolute; left: 53px; top: -25px; z-index: 2;").img-fluid
                                            .col-10
                                                p.mb-0 Ejercicio
                                    .col-12.bg-color2
                                        .list.align-items-star
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.txt-deco1 Escribir un párrafo descriptivo, cuya idea principal esté localizada al final de este.
                        .row.justify-content-center.mb-6
                            .col-9.mt-6
                                .list.align-items-star
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco1 #[b Párrafo expositivo argumentativo:] tiene como propósito dar sustento a una idea o tesis de un autor, exponer las razones de manera coherente y lógica, persuadir al lector; establece una tesis y señala o indica las razones de lo expuesto; es frecuente el uso de citas de autores, cifras, etcétera.  En un párrafo expositivo argumentativo pueden usarse párrafos narrativos o descriptivos.
                            .col-9.bg-color7.mt-5
                                img(src="assets/images/pages/ilustraciones/img13.png", style="max-width: 90%; position: relative; top: -30px; left: 40px;").img-fluid
                                p “Fumar es un hábito que actualmente se encuentra catalogado como nocivo, pero las personas que apuestan sobre el hábito constructivo del tabaquismo exponen que el daño se produce principalmente por una serie de vasodilatadores y aglutinantes que se van acumulando en los pulmones. El principio en el que basan esto, es que bajo su experiencia personal no han sufrido daños por fumar pipa o puro, algo que sí se presenta con el cigarrillo y más si el cigarrillo se fuma en forma diferente a la que utilizaron los indígenas, quienes lo usaban como medio religioso y con métodos poco convencionales. El cigarrillo se fuma llegando a los pulmones y los fumadores de puro solo degustan el humo y el sabor que se produce al maridaje” (Ejemplode, 2013).
                        .row.mt-6.justify-content-center
                            .col-10
                                .row
                                    .col-12.bg-color6
                                        .row
                                            .col-2
                                                img(src="assets/images/pages/ilustraciones/img15.png", style="max-width: 80px; position: absolute; left: 53px; top: -25px; z-index: 2;").img-fluid
                                            .col-10
                                                p.mb-0 Ejercicio
                                    .col-12.bg-color2
                                        .list.align-items-star
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.txt-deco1 Buscar algunos párrafos argumentativos e identificar la idea base (tesis) y los argumentos que le dan soporte.
                                p.txt-deco1.mt-4 Adicionalmente, hay otras clasificaciones que se relacionan con el contenido de los párrafos y la parte a la cual pertenecen o están relacionados, así: párrafos de introducción, desarrollo y conclusión.
                                table.table.table-bordered.table-striped.mt-4
                                    tbody
                                        tr
                                            td.table1
                                                p.text-white.mb-0 #[b Por el contenido]
                                            td.table1
                                                p.text-white.mb-0 #[b Función]
                                            td.table1
                                                p.text-white.mb-0 #[b Formas de estructuración]
                                        tr
                                            td.table3
                                                p.txt-deco1 #[b Párrafo de introducción]
                                            td.table3
                                                p.txt-deco1 Establecer el primer contacto del lector con el texto. Tiene como función captar el interés y la atención desde el inicio.
                                            td.table3
                                                p.txt-deco1 Mediante síntesis, anécdota, interrogante, cita, analogía, frases cortas o breves.
                                        tr
                                            td.table2
                                                p.txt-deco1 #[b Párrafo de desarrollo]
                                            td.table2
                                                p.txt-deco1 Desarrollar la idea principal del párrafo.
                                            td.table2
                                                p.txt-deco1 Enumeración, secuencia, comparación/contraste, causa y efecto, desarrollo de un concepto, solución de un problema.
                                        tr
                                            td.table3
                                                p.txt-deco1 #[b Párrafo de conclusión]
                                            td.table3
                                                p.txt-deco1 Cerrar el texto o escrito; es necesario un cierre en el que aparezcan los asuntos más importantes.
                                            td.table3
                                                p.txt-deco1 De cita, interrogante, anécdota, analogía, afirmaciones breves.
                        .row.mt-6.justify-content-center
                            .col-10
                                .row
                                    .col-12.bg-color6
                                        .row
                                            .col-2
                                                img(src="assets/images/pages/ilustraciones/img15.png", style="max-width: 80px; position: absolute; left: 53px; top: -25px; z-index: 2;").img-fluid
                                            .col-10
                                                p.mb-0 Ejercicio
                                    .col-12.bg-color2
                                        .list.align-items-star
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.txt-deco1 Elaborar un texto escrito en el cual el contenido se desarrolle mediante el uso de un párrafo de introducción, varios de desarrollo y uno de conclusión.
                        .header-ecored
                            h2 1.3.4 Redacción de párrafos.
                        .row.mt-5.mb-6
                            .col-12
                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/Y1vcrfBMNu0', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                        p.txt-deco2 #[b Se considera que escribir supone la interrelación de cuatro procesos básicos:]
                        .row.mt-5
                            .col-6.mt-4
                                .row.align-items-center
                                    .col-2
                                        img(src="assets/images/pages/ilustraciones/img16.png", style="max-width: 100%;").img-fluid
                                    .col-10
                                        p.txt-deco1.mb-0 #[b Desarrollar un plan.]
                            .col-6.mt-4
                                .row.align-items-center
                                    .col-2
                                        img(src="assets/images/pages/ilustraciones/img17.png", style="max-width: 100%;").img-fluid
                                    .col-10
                                        p.txt-deco1.mb-0 #[b Ordenar las ideas.]
                            .col-6.mt-4
                                .row.align-items-center
                                    .col-2
                                        img(src="assets/images/pages/ilustraciones/img18.png", style="max-width: 100%;").img-fluid
                                    .col-10
                                        p.txt-deco1.mb-0 #[b Organizar el texto.]
                            .col-6.mt-4
                                .row.align-items-center
                                    .col-2
                                        img(src="assets/images/pages/ilustraciones/img18.png", style="max-width: 100%;").img-fluid
                                    .col-10
                                        p.txt-deco1.mb-0 #[b Corregir.]
                        p.txt-deco1.mt-5 (Serafini, 1993).
                        p.txt-deco1 Para redactar un párrafo, inicialmente se parte de la idea que se tiene en mente para su composición.
                        p.txt-deco2.mt-5 #[b La planeación]
                        p.txt-deco1 Se reitera, antes de desarrollar la planeación del escrito que es necesario disponer de la idea sobre la cual se va a escribir. #[b En esta fase se diseña el plan o se proyecta todo aquello que se va a escribir]; por razones prácticas, todo aquel que quiere escribir necesita definir el tiempo para la escritura y para la comprensión de las características del escrito, es decir, si es narración, descripción, exposición, entre otros.
                        .row.mt-5.align-items-center
                            .col-10.bg-color8.shadow
                                p.txt-deco1 Es bueno tener en cuenta que en la vida académica el flujo de tareas, sumadas a los deberes de cada individuo, hace que el tiempo del que se dispone para el estudio sea limitado; por supuesto, lo mismo sucede cuando se escribe. #[b En este sentido, la planeación es un asunto un tanto personal que puede hacerse en cualquier momento, dependiendo de las circunstancias de cada persona]. En la vida actual poco se usa el papel y el lápiz para la escritura, esta se puede hacer directamente en el computador o dispositivo móvil, teniendo en cuenta los pasos sugeridos.
                                
                            .col-2
                                img(src="assets/images/pages/ilustraciones/img20.png", style="max-width: 250%; position: relative; right: 115px; bottom: 0px;").img-fluid
                        .row.mt-5
                            .col-10
                                p.txt-deco3 #[b Se aprende a escribir, escribiendo, así como se aprende a leer, leyendo, y a pesar del desarrollo de la tecnología, tal vez la mejor forma para aprender a escribir sea con un lápiz y un papel.]
                        p.txt-deco2.mt-5 #[b Cuando se planea el escrito se sugiere tener en cuenta estos asuntos:]
                        .row.justify-content-center
                            .col-10
                                nav.nav-tab-ecored.my-5
                                    #nav-tab.nav.nav-tabs(role='tablist')
                                        a#nav-01-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-01', role='tab', aria-controls='nav-01', aria-selected='true') 
                                            strong El destinatario
                                        a#nav-02-tab.nav-item.nav-link(data-toggle='tab', href='#nav-02', role='tab', aria-controls='nav-02', aria-selected='false') 
                                            strong El propósito
                                        a#nav-03-tab.nav-item.nav-link(data-toggle='tab', href='#nav-03', role='tab', aria-controls='nav-03', aria-selected='false') 
                                            strong El género textual
                                        a#nav-04-tab.nav-item.nav-link(data-toggle='tab', href='#nav-04', role='tab', aria-controls='nav-04', aria-selected='false') 
                                            strong El escritor
                                        a#nav-05-tab.nav-item.nav-link(data-toggle='tab', href='#nav-05', role='tab', aria-controls='nav-05', aria-selected='false') 
                                            strong Tema (objeto)
                                        a#nav-06-tab.nav-item.nav-link(data-toggle='tab', href='#nav-06', role='tab', aria-controls='nav-06', aria-selected='false') 
                                            strong Extensión del escrito
                                    #nav-tabContent.tab-content
                                        #nav-01.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-01-tab')
                                            .row.align-items-center
                                                .col-4
                                                    img(src="assets/images/pages/ilustraciones/img21.png", style="max-width: 100%;").img-fluid
                                                .col-8
                                                    p.txt-deco1 #[b El destinatario:] es la persona o el individuo a quien se dirige el escrito. Generalmente se ignora para quien se escribe, como es el caso de todos aquellos que tiene por oficio escribir.
                                        #nav-02.tab-pane.fade(role='tabpanel', aria-labelledby='nav-02-tab')
                                            .row.align-items-center
                                                .col-4
                                                    img(src="assets/images/pages/ilustraciones/img22.png", style="max-width: 100%;").img-fluid
                                                .col-8
                                                    p.txt-deco1 #[b El propósito:] son múltiples las intenciones con las cuales se escribe; cada persona tendría un propósito particular.
                                        #nav-03.tab-pane.fade(role='tabpanel', aria-labelledby='nav-03-tab')
                                            .row.align-items-center
                                                .col-4
                                                    img(src="assets/images/pages/ilustraciones/img23.png", style="max-width: 100%;").img-fluid
                                                .col-8
                                                    p.txt-deco1 #[b El género textual], por ejemplo, un mensaje, una carta, una reseña, un resumen, un informe, un cuento corto, un ensayo, entre otros.
                                        #nav-04.tab-pane.fade(role='tabpanel', aria-labelledby='nav-04-tab')
                                            .row.align-items-center
                                                .col-4
                                                    img(src="assets/images/pages/ilustraciones/img24.png", style="max-width: 100%;").img-fluid
                                                .col-8
                                                    p.txt-deco1 #[b El escritor:] es el emisor, quien escribe o produce el escrito, quien comunica sus ideas de manera particular, de acuerdo con su experiencia y sus necesidades personales.
                                        #nav-05.tab-pane.fade(role='tabpanel', aria-labelledby='nav-05-tab')
                                            .row.align-items-center
                                                .col-4
                                                    img(src="assets/images/pages/ilustraciones/img21.png", style="max-width: 100%;").img-fluid
                                                .col-8
                                                    p.txt-deco1 #[b Tema (objeto):] aquello de lo que trata el escrito.
                                        #nav-06.tab-pane.fade(role='tabpanel', aria-labelledby='nav-06-tab')
                                            .row.align-items-center
                                                .col-4
                                                    img(src="assets/images/pages/ilustraciones/img22.png", style="max-width: 100%;").img-fluid
                                                .col-8
                                                    p.txt-deco1 #[b Extensión del escrito:] este es un asunto que depende del propósito de este y de la habilidad de escritura del emisor. Un texto corto, sintético, bien escrito, con buen manejo de las relaciones lógicas y buena puntuación es mucho más interesante de leer que uno demasiado extenso; este asunto es de mucha discusión. Basta pensar en los mensajes de texto y en los “trinos” (tweets), tan comunes actualmente.
                        p.txt-deco2.mt-5 #[b El orden de las ideas]
                        p.txt-deco1 #[b Este momento consiste en la producción de las ideas (preescritura) y en la producción del texto (escritura)]; comprende la recolección de la información para documentarse o informarse sobre el tema, la organización de las ideas, la determinación de la idea central que se va a desarrollar y la redacción de un borrador o esbozo del escrito.
                        p.txt-deco1 Es fundamental documentarse, consultar sobre el tema escogido, ir a la biblioteca, leer al respecto; sin este paso previo la escritura va a resultar muy difícil, ya que es posible que falten ideas para desarrollar el tema.
                        p.txt-deco2.mt-6 #[b La organización del texto]
                        p.txt-deco1 Tiene que ver con la redacción del texto en sus unidades básicas, los párrafos, que pueden ser narrativos, descriptivos y expositivo argumentativo como se presentó previamente. En este momento es necesario pensar en la estructura del párrafo, los elementos de conexión, la puntuación, la introducción y la conclusión.
                        .row.mt-6.justify-content-end.align-items-start
                            .col-2
                                img(src="assets/images/pages/ilustraciones/img16.png", style="max-width: 80%;").img-fluid
                            .col-8
                                p.txt-deco1 #[b Las conexiones:]
                                p.txt-deco1.mb-0 Hay elementos lingüísticos que establecen conexiones formales y de significado entre las distintas oraciones, poniendo de manifiesto las relaciones entre partes diferentes de la estructura del contenido del párrafo (del texto). Al igual que las conjunciones coordinantes y subordinantes relacionan sintagmas y oraciones dentro de un enunciado; las conexiones son las palabras o las expresiones que enlazan las ideas dentro de un párrafo y entre párrafos y, ayudan al lector a seguir el hilo del discurso.
                        p.txt-deco3.mt-5 #[b Ejemplos de algunos conectores:]
                        .row.mt-5.justify-content-center
                            .col-10.bg-color9
                                .list.align-items-star
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco1 #[b Adición:] y, también, además, más, aún, por otra parte, sobre todo, otro aspecto.
                                .list.align-items-star
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco1 #[b Conclusión:] para terminar, resumiendo, por último, finalmente, en conclusión, en suma, en síntesis, como conclusión.
                                .list.align-items-star
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco1 #[b Consecuencia, causa y efecto:] porque, por consiguiente, por esta razón, puesto que, por lo tanto, de modo que, por eso, en consecuencia, esto indica.
                                .list.align-items-star
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco1 #[b Contraste:] pero, sin embargo, aunque, no obstante, si bien, por el contrario, al contrario, antes bien, en cambio.
                                .list.align-items-star
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco1 #[b Ejemplificación:] tal como, como caso típico, en representación de, como muestra, verbigracia, por ejemplo, así como, en otras palabras, esto es.
                                .list.align-items-star
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco1 #[b Reafirmación:] en efecto, efectivamente, ciertamente, en síntesis, en breve, en otros términos.
                                .list.align-items-star
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco1 #[b Relación espacial:] arriba, abajo, a la derecha, a la izquierda, junto, al lado, por encima.
                                .list.align-items-star
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco1 #[b Relación temporal:] después, mientras, primero, entonces, luego, anteriormente, al mismo tiempo.
                                .list.align-items-star
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco1.mb-0 #[b Semejanza:] de igual manera, del mismo modo, como, igualmente, de forma similar, tal como, tal cual.
                        .row.mt-6.justify-content-end.align-items-start
                            .col-2
                                img(src="assets/images/pages/ilustraciones/img17.png", style="max-width: 80%;").img-fluid
                            .col-8
                                p.txt-deco1 #[b Los signos de puntuación:]
                                p.txt-deco1.mb-0 son necesarios en la lengua escrita para marcar las pausas, aclarar el sentido de las frases; tienen la función de subdividir el texto para favorecer la comprensión, delimitan las oraciones y los párrafos, establecen la jerarquía sintáctica entre ellas y ordenan las ideas.
                                img(src="assets/images/pages/ilustraciones/img25.png", style="max-width: 40%; margin-top: 20px;").img-fluid.
                            .col-10.mt-5
                                table.table.table-bordered.table-striped.mt-4
                                    tbody
                                        tr
                                            td.table1
                                                p.text-white.mb-0 #[b Función de los signos de puntuación]
                                            td.table1
                                                p.text-white.mb-0 #[b Signos]
                                        tr
                                            td.table3
                                                p.txt-deco1 #[b Relacionados con las pausas]
                                            td.table3
                                                p.txt-deco1 Coma (,), punto y coma (;), punto seguido y aparte (.), dos puntos (:)
                                        tr
                                            td.table2
                                                p.txt-deco1 #[b Relacionados con la entonación]
                                            td.table2
                                                p.txt-deco1 Puntos suspensivos (…), interrogación (¿?), exclamación (¡!), paréntesis curvo ()
                                        tr
                                            td.table3
                                                p.txt-deco1 #[b Relacionados con la distribución]
                                            td.table3
                                                p.txt-deco1 Comillas (““), guion (-), raya (-), asterisco (*), paréntesis cuadrado o corchete {}
                        .row.mt-6.justify-content-end.align-items-start
                            .col-2
                                img(src="assets/images/pages/ilustraciones/img18.png", style="max-width: 80%;").img-fluid
                            .col-8
                                p.txt-deco1 #[b La introducción:]
                                p.txt-deco1.mb-0 tiene como propósito crear el ambiente para el lector.
                        .row.mt-6.justify-content-end.align-items-start
                            .col-2
                                img(src="assets/images/pages/ilustraciones/img19.png", style="max-width: 80%;").img-fluid
                            .col-8
                                p.txt-deco1 #[b La conclusión:]
                                p.txt-deco1.mb-0 es necesario un párrafo final que cierre el escrito y que le permita al lector claridad sobre lo leído.
                        p.txt-deco2.mt-6 #[b Corregir el texto]
                        p.txt-deco1 Comúnmente la revisión la lleva a cabo el autor. #[b Corregir consiste en inspeccionar la redacción y es de gran importancia para la correcta elaboración del escrito]. Es bueno generar la costumbre de leer varias veces de manera crítica lo que se escribe, de esta forma se identifican los posibles errores, repeticiones y otros asuntos que pueden reconocerse en un texto.
                        .row.align-items-center
                            .col-6
                                p.txt-deco1 La corrección permite comprobar que el texto esté estructurado correctamente, es decir, que los párrafos se encuentren organizados y que tengan un orden. #[b En la revisión puede suceder que se elimine información innecesaria o que se cambie de lugar algunas ideas o párrafos]; es preciso, además, detenerse en el contenido, todo aquello que se manifestó respecto al tema del texto, una idea central que se desarrolla a partir de ideas secundarias, de igual manera, los párrafos deben desarrollar una idea principal.
                            .col-6.text-center
                                img(src="assets/images/pages/ilustraciones/img26.png", style="max-width: 60%;").img-fluid
                        .row.mt-6.justify-content-center
                            .col-10
                                .row
                                    .col-12.bg-color6
                                        .row
                                            .col-2
                                                img(src="assets/images/pages/ilustraciones/img15.png", style="max-width: 80px; position: absolute; left: 53px; top: -25px; z-index: 2;").img-fluid
                                            .col-10
                                                p.mb-0 Ejercicio
                                    .col-12.bg-color2
                                        .list.align-items-star
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.txt-deco1 Escribir un texto sobre un tema de interés personal, seguir los cuatro pasos propuestos.