.container#factores

    .jumbotron.bg-white.shadow.mt-6
        .row.justify-content-center
            .col-10
                .header-ecored.mt-0
                    h1 2. Factores de la comprensión lectora
                .row.justify-content-center.mt-7
                    .col-9.bg-color4
                        img(src="assets/images/pages/ilustraciones/img13.png", style="max-width: 90%; position: relative; top: -30px; left: 40px;").img-fluid
                        p.txt-deco1 Se precisa recordar que el texto es la
                        br
                        p.txt-deco1 #[b #[i Unidad lingüística comunicativa fundamental, producto de la actividad verbal humana, que posee carácter social.]]
                        br
                        br
                        p.txt-deco1 #[b (Bernárdez,1982).]
                        br
                        br
                        br
                        img(src="assets/images/pages/ilustraciones/img27.png", style="max-width: 35%; position: absolute; right: 40px; bottom: -70px;").img-fluid
                p.txt-deco2.mt-7.pt-4 #[b De acuerdo con Alexopoulou (2011), el texto tiene tres dimensiones:]
                .row.justify-content-center
                    .col-10
                        nav.nav-tab-ecored.my-5
                            #nav-tab.nav.nav-tabs(role='tablist')
                                a#nav-01-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-01', role='tab', aria-controls='nav-01', aria-selected='true') 
                                    strong Dimensión comunicativa
                                a#nav-02-tab.nav-item.nav-link(data-toggle='tab', href='#nav-02', role='tab', aria-controls='nav-02', aria-selected='false') 
                                    strong Dimensión pragmática
                                a#nav-03-tab.nav-item.nav-link(data-toggle='tab', href='#nav-03', role='tab', aria-controls='nav-03', aria-selected='false') 
                                    strong Dimensión estructural
                            #nav-tabContent.tab-content
                                #nav-01.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-01-tab')
                                    .row.align-items-center
                                        .col-2
                                            img(src="assets/images/pages/ilustraciones/img21.png", style="max-width: 100%;").img-fluid
                                        .col-10
                                            p.txt-deco1 Es resultado de la interacción entre un emisor y un receptor, junto con toda la información del acto comunicativo; por lo tanto, tiene un carácter social.
                                #nav-02.tab-pane.fade(role='tabpanel', aria-labelledby='nav-02-tab')
                                    .row.align-items-center
                                        .col-2
                                            img(src="assets/images/pages/ilustraciones/img22.png", style="max-width: 100%;").img-fluid
                                        .col-10
                                            p.txt-deco1 Todo texto se da en una situación comunicativa constituida por asuntos extralingüísticos presentes en el acto de comunicación. El contexto determina la forma y la interpretación del texto; en la estructura intervienen factores externos como el espacio, el tiempo, las situaciones y factores socioculturales y cognitivos.
                                #nav-03.tab-pane.fade(role='tabpanel', aria-labelledby='nav-03-tab')
                                    .row.align-items-center
                                        .col-2
                                            img(src="assets/images/pages/ilustraciones/img23.png", style="max-width: 100%;").img-fluid
                                        .col-10
                                            p.txt-deco1 Los textos tienen una organización interna que depende de reglas gramaticales y de coherencia que garantizan el significado y la estructura textual que representa el esquema de composición del texto.
                p.txt-deco2.mt-5 #[b La estructura textual]
                p.txt-deco1 se logra a partir de dos niveles de organización textual: #[b el plano local y el plano global].
                p.txt-deco3.mt-5 #[b El plano local]
                .row
                    .col-8
                        p.txt-deco1 se sitúa en el nivel de las oraciones; equivale a la microestructura del texto, se asocia con los constituyentes de la oración y corresponde a la coherencia global en cada párrafo.
                .row.mt-5
                    .col-12.bg-color10
                        .row.align-items-center
                            .col-4.py-6.bg-color11
                                p.txt-deco5 #[b Microestructura (constituyentes y coherencia)]
                            .col-8.pl-6
                                p.text-white Se ocupa de la estructura de las oraciones, de las relaciones entre oraciones.
                                p.text-white.mb-0 Concordancia sujeto/verbo, género/número.
                                p.text-white #[b Cohesión:] ilación de secuencia de oraciones con conectores.
                                p.text-white.mb-0 Coherencia global y coherencia lineal.
                                p.text-white.mb-0 Segmentación de unidades como oraciones y párrafos.
                .row.mt-5.justify-content-center
                    .col-10
                        .list.align-items-star
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                            .list__txt
                                p.txt-deco1.mb-0 #[b La coherencia global:]
                                p.txt-deco1 Es el asunto del que trata el texto y que le da unidad de sentido; se conoce como “tema”.
                        .list.align-items-star
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                            .list__txt
                                p.txt-deco1.mb-0 #[b La coherencia lineal:]
                                p.txt-deco1 Disposición y orden de las ideas en el texto, es decir, la disposición de las ideas en el “esquema”.
                p.txt-deco3.mt-5 #[b El plano global]
                .row
                    .col-8
                        p.txt-deco1 Se ubica en el nivel textual, está compuesto por la macroestructura, que se relaciona con el contenido semántico del texto (significado), y por la superestructura que representa el esquema organizativo del texto, en otras palabras, la distribución de los contenidos de acuerdo con un orden establecido.
                .row.mt-5
                    .col-12.bg-color10
                        .row.align-items-center
                            .col-4.py-6.bg-color11
                                p.txt-deco5 #[b Macroestructura (significado)]
                            .col-8.pl-6
                                p.text-white Se ocupa de la coherencia global del texto (propiedad semántica).
                                p.text-white De mantener un eje temático a lo largo del texto.
                                p.text-white Del tema.
                                p.text-white.mb-0 De los subtemas.
                        .row.align-items-center.mt-6
                            .col-4.py-6.bg-color11
                                p.txt-deco5 #[b Superestructura (esquema organizativo del texto)]
                            .col-8.pl-6
                                p.text-white Se ocupa de la forma global como se organizan los componentes de un texto.
                                p.text-white #[b Esquema lógico de organización del texto:]
                                p.text-white.mb-0 #[b Textos narrativos:] cuento (inicio, nudo, desenlace).
                                p.text-white.mb-0 #[b Textos informativos:] noticia (qué, cómo, cuándo, dónde).
                                p.text-white.mb-0 #[b textos argumentativos:] ensayo (tesis, argumentos).
                                p.text-white.mb-0 (MEN, 1998).
                p.txt-deco3.mt-5 #[b El significado]
                p.txt-deco1 La semántica, disciplina lingüística, tiene como objeto el estudio del significado de las palabras a partir de sus componentes (raíces y terminaciones), es decir, de su etimología y del cambio de los significados en el transcurso del tiempo. Se interesa, también, en los accidentes del significado como los sinónimos (significado similar o parecido), antónimos (significado contrario), homófonos (vocablos que se oyen igual o parecido, pero que tienen significados diferentes).
                p.txt-deco2.mt-5 #[b Hay dos clases de significado:]
                .row.mt-4.align-items-center
                    .col-4.text-center
                        img(src="assets/images/pages/ilustraciones/img28.png", style="max-width: 100%;").img-fluid
                    .col-8
                        p.txt-deco3 #[b Significado de base o denotativo:]
                        p.txt-deco1 Es el significado básico de las palabras, el que comúnmente se encuentra en los diccionarios, es conocido por los hablantes de la comunidad lingüística. Todas las palabras tienen un significado, por ejemplo, casa, árbol, ciudad, país, viajar, vivir, etcétera.
                        p.txt-deco3.mt-5 #[b Significado connotativo:]
                        p.txt-deco1 Es uno o varios significados que una palabra puede adoptar, además de su significado de base cuando un término tiene varios significados se denomina polisémico; la polisemia es la pluralidad significativa de una palabra.
                p.mt-4.txt-deco1 #[b Por ejemplo], el significado denotativo o básico del término “corazón” es: “víscera torácica, hueca y muscular de forma cónica que es el órgano principal de la circulación de la sangre” (RAE, s.f.); “corazón”, adicionalmente puede significar el centro de una cosa o el eje, afecto, amor. En este caso la palabra es polisémica.
                p.txt-deco1 #[b Lo mismo ocurre con el vocablo “muela”, que el diccionario define como:] nombre de los dientes grandes posteriores a los caninos; lugar que sobresale respecto a otro; tercera persona del verbo moler, etcétera (RAE, s.f.).
                .row.justify-content-center.mt-6
                    .col-10
                        .list.align-items-star
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                            .list__txt
                                p.txt-deco1 “El avión está volando sobre la ciudad” #[b (significado denotativo = significado real)].
                        .list.align-items-star
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                            .list__txt
                                p.txt-deco1 “Me vuelo al supermercado a comprar lo que me hizo falta” #[b (significado connotativo = rapidez)].
                        .list.align-items-star
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                            .list__txt
                                p.txt-deco1 “Le hicieron una operación a corazón abierto” #[b (significado denotativo = real)].
                        .list.align-items-star
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                            .list__txt
                                p.txt-deco1 “El hombre era de buen corazón” #[b (significado connotativo = emocional o afectivo)].
                p.txt-deco1.mt-5 En algunos casos, la pluralidad de significados puede generar ambigüedad, que se entiende como el doble sentido de una oración o frase; pensar en estos ejemplos:
                .row.justify-content-center.my-6
                    .col-10
                        .list.align-items-star
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                            .list__txt
                                p.txt-deco1 “Se venden carteras para señora de cuero de cocodrilo”.
                        .list.align-items-star
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                            .list__txt
                                p.txt-deco1 “Ojos de perro azul”.
                .hr2
                #21
                .header-ecored
                    h2 2.1 Los géneros y tipos textuales
                p.txt-deco2.mt-5 #[b Con el propósito de tener claridad sobre los textos se utilizan los conceptos género y tipos textuales.]
                p.txt-deco1 Se presenta esta clasificación para todos los aprendices, especialmente aquellos que tengan algún tipo de interés en la escritura de cuentos, relatos o novelas u otro tipo de escrito, también, porque las rutinas laborales, seguramente, los pondrá en la situación de redactar distintos textos en los cuales tendrá que decidir cómo proceder.
                .row.mt-5.align-items-center
                    .col-8
                        p.txt-deco1 #[b Los géneros]
                        p.txt-deco1 Son formas discursivas tradicionales construidas a lo largo de la historia de una comunidad lingüística; por lo tanto, son productos socioculturales reconocidos por los miembros de esa comunidad. Tienen lugar en un contexto social, siguen algunas normas y convenciones con una finalidad.
                    .col-4.text-center
                        img(src="assets/images/pages/ilustraciones/img29.png", style="max-width: 80%;").img-fluid
                .row.mt-5.align-items-center
                    .col-4.text-center
                        img(src="assets/images/pages/ilustraciones/img30.png", style="max-width: 80%;").img-fluid
                    .col-8
                        p.txt-deco1 Aunque los géneros pertenecen a una tradición, están sujetos a modificaciones para dar respuesta a los cambios que tienen lugar en las sociedades; #[b es el caso de las Tecnologías de la Información y la Comunicación (TIC) que han favorecido la aparición de los géneros electrónicos como el chat, foro de discusión, webinar, e-mail, twitter, blogs, redes sociales].
                p.txt-deco3.my-6 #[b Algunos géneros corresponden a:]
                img(src="assets/images/pages/ilustraciones/img31.png", style="max-width: 80%;").img-fluid.img-a
                p.txt-deco3.mt-6 #[b Los Tipos]
                p.txt-deco1 Los tipos son “realidades abstractas, lingüístico-comunicativas, en principio invariables y por lo tanto constituyen un repertorio cerrado de formas, según las particularidades de cada tipo”.
                p.txt-deco1 (Alexopoulou, 2010).
                p.txt-deco3.mt-6 #[b Los tipos de textos y sus modalidades son:]
                .row.justify-content-center.my-6
                    .col-10
                        .list.align-items-star
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                            .list__txt
                                p.txt-deco1 #[b Informativos:]
                                p.txt-deco1 Tienen como propósito dar a conocer hechos o situaciones, por ejemplo, la noticia, el afiche, la circular, la carta, el artículo periodístico.
                        .list.align-items-star
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                            .list__txt
                                p.txt-deco1 #[b Narrativos:]
                                p.txt-deco1 Relatan hechos, acontecimientos, como es el caso del mito, fábula, apólogo, cuento, relato, novela, obras de teatro, historietas.
                        .list.align-items-star
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                            .list__txt
                                p.txt-deco1 #[b Argumentativos:]
                                p.txt-deco1 Expresan opiniones para convencer; entre ellos se encuentran el ensayo, artículo de opinión, reseña, editorial de periódico o revista.
                        .list.align-items-star
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                            .list__txt
                                p.txt-deco1 #[b Explicativos:]
                                p.txt-deco1 Se ocupan de hacer comprender un tema, como en la reseña, recetas de cocina, reglas de un juego, instrucciones (para armar juguetes, muebles e instalar objetos).
                p.txt-deco1.my-5 De acuerdo con esta clasificación, una noticia pertenece al género periodístico y su tipo de texto es informativo. Un ensayo pertenece al género didáctico y su tipo de texto es argumentativo. La novela es un texto narrativo en la que predomina la narrativa; no obstante, la novela en la mayoría de los casos integra textos descriptivos, diálogos, etcétera.
                .hr2
                #22
                .header-ecored
                    h2 2.2 Producción de textos
                p.txt-deco1 Producir un texto es redactarlo; esto equivale a planearlo, definir el propósito, escribir una primera versión, releerlo, corregirlo; tener en cuenta los niveles textuales: el léxico, el significado, la estructura de las oraciones, la relación entre ellas, la ortografía y la puntuación.
                p.txt-deco2.mt-6 #[b Se abordan dos textos de uso frecuente en las actividades académicas:]
                p.txt-deco3 #[b El informe escrito y el ensayo.]
                .row.justify-content-end
                    .col-11
                        .header-ecored
                            h2 2.2.1 El Informe escrito.
                        .row.align-items-center
                            .col-5
                                p.txt-deco1 Un informe escrito es la exposición de los datos obtenidos en una consulta sobre un determinado tema o la exposición de los resultados de una investigación; durante el tiempo que toma la formación académica y posteriormente en la vida laboral es necesario la presentación de informes.
                                p.text-deco3 #[b A continuación, unas pautas para elaborarlos:]
                                .hr
                            .col-7.text-center
                                img(src="assets/images/pages/ilustraciones/img32.png", style="max-width: 80%;").img-fluid
                        p.txt-deco2.mt-5 #[b En cuanto al contenido:]
                        .row.justify-content-center
                            .col-11
                                .list.align-items-star
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco1 #[b El tema:] debe ser concreto e interesante; además, es necesario comprenderlo para redactar las ideas claramente.
                                .list.align-items-star
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco1 #[b El plan:] seguir una estructura (introducción, desarrollo y conclusión).
                                .list.align-items-star
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco1 Es requisito indispensable consultar diferentes fuentes de información que traten el tema, es decir, libros, revistas científicas, revistas especializadas, bases de datos reconocidas que las bibliotecas de las instituciones educativas poseen. Si la consulta se hace en línea es fundamental ser muy cuidadoso respecto al material que allí se encuentra.
                                .list.align-items-star
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco1 Seleccionar el material que se considera importante.
                        p.txt-deco2.mt-5 #[b En cuanto a la redacción:]
                        .row.justify-content-center
                            .col-11
                                .list.align-items-star
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco1 Tener en cuenta todos los aspectos de la morfosintaxis y de la redacción de párrafos. No olvidar que, mediante oraciones cortas, breves se logra más fácilmente la claridad.
                                .list.align-items-star
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco1 #[b La ortografía:] la correcta utilización de las palabras y del vocabulario.
                                .list.align-items-star
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco1 #[b La puntuación:] uso adecuado de los signos de puntación para la correcta separación de las oraciones y una buena comprensión de las ideas.
                                .list.align-items-star
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco1 En cuanto la presentación, esta depende de la situación; en la actualidad es poco usual imprimir trabajos para entregar al maestro, todo o casi todo se hace en la red.
                        .row.mt-5.justify-content-center
                            .col-10
                                .row
                                    .col-12.bg-color6
                                        .row
                                            .col-2
                                                img(src="assets/images/pages/ilustraciones/img15.png", style="max-width: 80px; position: absolute; left: 5px; top: -25px; z-index: 2;").img-fluid
                                            .col-10
                                                p.mb-0 Ejercicio
                                    .col-12.bg-color2
                                        .list.align-items-star
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.txt-deco1 escribir un informe relacionado con un tema de estudio.
                        .header-ecored.mt-6
                            h2 2.2.2 El ensayo.
                        .row.mt-5.align-items-center
                            .col-5
                                p.txt-deco1 #[b Definición:] Es un tipo de prosa que brevemente analiza, interpreta o evalúa un tema; se considera un género literario a igual que la poesía, la ficción o el drama. Intenta resolver un problema por medio de argumentos.
                            .col-7.text-center
                                img(src="assets/images/pages/ilustraciones/img33.png", style="max-width: 80%;").img-fluid
                        p.txt-deco2.mt-6 #[b Características:]
                        .row.align-items-start
                            .col-6
                                .list.align-items-star.mt-6
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco1 Parte de una pregunta.
                                .list.align-items-star
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco1 Hace uso de un lenguaje formal.
                                .list.align-items-star
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco1 Se escribe en tercera persona o con voz neutra.
                                .list.align-items-star
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco1 Se escribe para un lector.
                                .list.align-items-star
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco1 Propósito: demostrar los propios conocimientos sobre un tema.
                            .col-6.text-center
                                img(src="assets/images/pages/ilustraciones/img34.png", style="max-width: 80%;").img-fluid
                        p.txt-deco2.mt-6 #[b Pasos para la escritura de un ensayo]
                        .row.justify-content-center
                            .col-11
                                .list.align-items-star.mt-5
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco1 #[b Hacer una lista de ideas:] buscar un orden lógico y ordenarlas por categorías.
                                .list.align-items-star
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco1 Hacer un esbozo.
                                .list.align-items-star
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco1 Escribir el primer borrador y luego todos los que sean necesarios (De la mano con la literatura, 2012).
                        p.txt-deco2.mt-6 #[b Organización]
                        p.txt-deco1 Un ensayo consta de tres partes fundamentales: #[b introducción, desarrollo expositivo-argumentativo, conclusión y referencias bibliográficas].
                        .row.mt-5.align-items-center
                            .col-4.text-center
                                img(src="assets/images/pages/ilustraciones/img35.png", style="max-width: 80%;").img-fluid
                            .col-8
                                p.txt-deco1 #[b Introducción:] Indica al lector el propósito del escritor, el acercamiento al tema y la organización que seguirá el ensayo. Se plantea la tesis o idea base que articula al texto y que quiere debatirse o cuestionarse, la cual debe sustentarse en el desarrollo del ensayo a través de los argumentos.
                                .hr5
                                p.txt-deco1 #[b Nudo o cuerpo:] Desarrolla los aspectos planteados en la introducción. Son cruciales en esta parte el uso adecuado de conectores y un buen manejo de la lógica. Se presentan los argumentos que sostienen la tesis que se expone. En el ensayo académico no se usa ni la descripción, ni la narración, sino la exposición.
                                .hr3
                                p.txt-deco1 #[b Conclusión:] aunque no siempre es el último párrafo del ensayo, si debe recoger las ideas que se presentaron en la tesis, en la parte introductoria.
                                .hr4
                        .row.mt-6.justify-content-center
                            .col-10
                                .row
                                    .col-12.bg-color6
                                        .row
                                            .col-2
                                                img(src="assets/images/pages/ilustraciones/img15.png", style="max-width: 80px; position: absolute; left: 5px; top: -25px; z-index: 2;").img-fluid
                                            .col-10
                                                p.mb-0 Ejercicio
                                    .col-12.bg-color2
                                        .list.align-items-star
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.txt-deco1 Se sugiere leer el ensayo “La polémica de la ortografía” de Gabriel García Márquez.  
                                                p.txt-deco1 Disponible en el siguiente enlace:
                                                .imgTopBar.mt-4
                                                    .row.justify-content-around.align-items-center
                                                        .col-8.mb-3.mb-md-0
                                                            img(src="assets/images/pages/icons/icon_pdf.svg", alt="", style="max-width: 30px;")
                                                            p.d-inline.mb-0.txt-deco16 La polémica de la ortografía
                                                        .col-auto.imgTopBarButton.shadow
                                                            a(href="http://gabazo.blogspot.com/2005/01/ensayos.html", target="_blank").imgTopBar_link 
                                                                .row 
                                                                    .col-auto                   
                                                                        p.d-inline(style="margin-right:10px") Ver Ensayo